---
---

@charset "utf-8";

// Import the selected skin (replace 'default' with your chosen skin if different)
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";


$doc-font-size: 10px !default;
$doc-font-size-medium: $doc-font-size * 1.125 !default;
$doc-font-size-large: $doc-font-size * 1.25 !default;
$doc-font-size-x-large: $doc-font-size * 1.375 !default;

// Override font size variables
$type-size-1: 0.625em !default; // ~31.248px
$type-size-2: 0.625em !default; // ~25.008px
$type-size-3: 0.625em !default; // ~20px
$type-size-4: 0.625em !default; // ~16px
$type-size-5: 0.625em !default; // ~12px
$type-size-6: 0.625em !default; // ~11px
$type-size-7: 0.625em !default; // ~10px
$type-size-8: 0.625em !default; // ~10px

// Import the Minimal Mistakes styles
@import "minimal-mistakes";

// Adjust the base font size for different screen sizes
html {
  font-size: 14px; // Base font size for small screens

  @include breakpoint($medium) {
    font-size: 16px; // Medium screens
  }

  @include breakpoint($large) {
    font-size: 18px; // Large screens
  }

  @include breakpoint($x-large) {
    font-size: 20px; // Extra-large screens
  }
}
